<!-- app button -->
  <a data-scroll href="#content1" id="scroll-link">
    <div id="link-step">
      <div class="btns" id="btns">
        <p><i class="material-icons icon__bottom">arrow_drop_down</i><span class="btn__text">登録ステップはこちら</span></p>
      </div>
    </div>
  </a>
  <!-- /app button -->
  <!-- jumbotron -->
  <section class="jumbotron">
  <div class="jumbotron__items-mb">
  <h2 class="jumbotron__title-mb">みんなと集まる<br>メッセージ共有アプリ</h2>
  </div>
    <div class="jumbotron__items">
      <h2 class="jumbotron__title">みんなと集まる<br>メッセージ共有アプリ</h2>
      <div class="jumbotron__banners">
        <a href="itms-apps://?action=discover&amp;referrer=app-store" target="blank">
          <p><img class="jumbotron__banner link" src="https://j-coin.jp/assets/images/renew_top/btn-sec04-ios.png" alt=""></p>
        </a>
        <a href="https://play.google.com/store?hl=ja" target="blank">
          <p><img class="jumbotron__banner link" src="https://j-coin.jp/assets/images/renew_top/btn-sec04-android.png" alt=""></p></a>
      </div>
      <p><small>image : <a href="http://www.freepik.com">Designed by Freepik</a></small></p>
    </div>
  </section>
  <!-- /jumbotron -->
  
  <!-- promotion -->
  <section class="content content__gray">
    <div class="swiper-container slide-img slide-img--up">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="swiper__img link" src="http://hudehisa.sakura.ne.jp/test_image/app_banner-1.jpg" alt=""></div>
        <div class="swiper-slide"><img class="swiper__img link" src="http://hudehisa.sakura.ne.jp/test_image/app_banner-2.jpg" alt=""></div>
        <div class="swiper-slide"><img class="swiper__img link" src="http://hudehisa.sakura.ne.jp/test_image/app_banner-3.jpg" alt=""></div>
        <div class="swiper-slide"><img class="swiper__img link" src="http://hudehisa.sakura.ne.jp/test_image/app_banner-1.jpg" alt=""></div>
      </div>
      <!-- Add Pagination -->
    </div>
    <div class="swiper-pagination"></div>
  </section>
  <!-- /promotion -->
  <!-- about -->
  <section class="content content__gray">
    <div class="about content__size">
      <h3 class="content__title"><span class="content__color">Shares Photo</span>ってどんなアプリ？</h3>
      <div class="content__shape"></div>
      <p class="content__text">Shares Photoは、友達など特定メンバーとメッセージを共有することができます。</p>
      <div class="about__cards content">
        <div class="about__card slide-img slide-img--up">
          <div class="about__card-img-1"></div>
          <h4 class="about__card-title">メンバーとで投稿をシェアします</h4>
          <p class="about__card-text">Shares Photoは、特定のメンバーとメッセージを共有することができます。</p>
        </div>
        <div class="about__card slide-img slide-img--up">
          <div class="about__card-img-2"></div>
          <h4 class="about__card-title">個人情報管理の管理</h4>
          <p class="about__card-text">Shares Photoは、パスワード・IDなどの個人情報管理を簡単にできます。</p>
        </div>
        <div class="about__card slide-img slide-img--up">
          <div class="about__card-img-3"></div>
          <h4 class="about__card-title">ファイル・画像の投稿</h4>
          <p class="about__card-text">Shares Photoは、スマホ一台でメッセージを投稿できます。</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  <!-- seen -->
  <section class="content content__green">
    <div class="content__size seen__center">
      <h3 class="content__title"><span class="content__color">いろんな</span>シーンで使える</h3>
      <div class="content__shape"></div>
      <div class="seen">
        <div class="seen__cards">
          <div>
            <p class="seen__title"><strong>友人との<br>メッセージ共有</strong></p>
            <div class="seen__card-back slide-img slide-img--up">
              <div class="seen__card seen__card-img-1">
                <p class="seen__card-title">01　友人とのメッセージ共有</p>
                <a href="#">
                  <p class="seen__card-text element_hover link"><strong>動画で見る</strong></p>
                </a>
              </div>
            </div>
          </div>
          <div>
            <p class="seen__title"><strong>グループとの<br>コミュニケーション</strong></p>
            <div class="seen__card-back slide-img slide-img--up">
              <div class="seen__card seen__card-img-2">
                <p class="seen__card-title">02　グループとのコミュニケーション</p>
                <a href="#">
                  <p class="seen__card-text element_hover link"><strong>動画で見る</strong></p>
                </a>
              </div>
            </div>
          </div>
          <div>
            <p class="seen__title"><strong>ファイルデータの<br>共有</strong></p>
            <div class="seen__card-back slide-img slide-img--up">
              <div class="seen__card seen__card-img-3">
                <p class="seen__card-title">0３　ファイルデータの共有</p>
                <a href="#">
                  <p class="seen__card-text element_hover link"><strong>動画で見る</strong></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="seen__button" id="nextBtn">
        <p><i class="material-icons md-36 icon__next">keyboard_arrow_right</i><span class="seen__button-text">使い方をもっと見る</span></p>
      </div>
    </div>
  </section>
  <!-- /seen -->
  <div id="content1"></div>
  <!-- application -->
  <section class="content content__blue">
    <div class="about content__size">
      <!-- <div id="link"></div> -->
      <h3 class="content__title application__title">最短5分ご登録は簡単</h3>
      <div class="content__shape-white"></div>
      <div class="application__cards">
        <div class="application__card slide-img slide-img--up">
          <p class="application__card-number"><strong>STEP 1</strong></p>
          <h5 class="application__card-title">アプリをダウンロード</h5>
          <p><img class="application__card-img" src="http://hudehisa.sakura.ne.jp/test_image/photo_img-12.jpg" alt=""></p>
          <div class="application__banners">
            <p><a href="itms-apps://?action=discover&amp;referrer=app-store" target="blank"><img class="application__card-banner link" src="https://j-coin.jp/assets/images/renew_top/btn-sec04-ios.png" alt="アップルショップ"></a></p>
            <p><a href="https://play.google.com/store?hl=ja" target="blank"><img class="application__card-banner link" src="https://j-coin.jp/assets/images/renew_top/btn-sec04-android.png" alt="google play"></a></p>
          </div>
        </div>
        <div class="application__card slide-img slide-img--up">
          <p class="application__card-number"><strong>STEP ２</strong></p>
          <h5 class="application__card-title">ユーザー情報を登録</h5>
          <p><img class="application__card-img" src="http://hudehisa.sakura.ne.jp/test_image/photo_img-1.jpg" alt=""></p>
          <p class="application__card-text">お名前、生年月日、住所などユーザー情報をご登録</p>
        </div>
        <div class="application__card slide-img slide-img--up">
          <p class="application__card-number"><strong>STEP 3</strong></p>
          <h5 class="application__card-title">サービス使用開始</h5>
          <p><img class="application__card-img" src="http://hudehisa.sakura.ne.jp/test_image/photo_img-8.jpg" alt=""></p>
          <p class="application__card-text">ご利用される講座情報をご登録!</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /application -->
  <!-- information -->
  <section class="content content__gray">
    <div class="content__size information">
      <h3 class="content__title">information</h3>
      <div class="content__shape"></div>
      <ul class="slide-img slide-img--up">
        <li class="information__un-border"> <span class="information__day">2020/09/14</span><br>利用規約を更新しました。</li>
        <li class="information__border"> <span class="information__day">2020/08/23</span><br>アップデートしました。</li>
        <li class="information__border"> <span class="information__day">2020/08/19</span><br>サービスを開始しました。</li>
      </ul>
    </div>
  </section>
  <!-- /information -->
  <!-- cv -->
  <section class="cv__content">
    <div class="cv">
      <p><img class="cv__img slide-img slide-img--up" src="http://hudehisa.sakura.ne.jp/test_image/promotion_img.png" alt=""></p>
      <div class="cv__items">
        <p><img class="cv__logo" src="http://hudehisa.sakura.ne.jp/test_image/site-logo-white.png" alt=""></p>
        <p class="cv__text">ダウンロードはこちら</p>
        <div class="cv__banners slide-img slide-img--up">
          <ul>
            <li><a href="itms-apps://?action=discover&amp;referrer=app-store" target="blank" class="element_hover"><img class="cv__banner link" src="https://j-coin.jp/assets/images/renew_top/btn-sec04-ios.png" alt=""></a></li>
            <li><a href="https://play.google.com/store?hl=ja" target="blank" class="element_hover"><img class="cv__banner link" src="https://j-coin.jp/assets/images/renew_top/btn-sec04-android.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /cv -->
  <!-- contact -->
  <section class="content content__green">
    <div class="contact content__size">
      <h3 class="content__title"><i class="material-icons md-36 icon__app">phone_in_talk</i>お問い合わせ</h3>
      <div class="content__shape-contact"></div>
      <div class="contact__item">
        <p class="contact__number">0120-423-367</p>
        <p class="contact__colour">受付時間 9:00 = 21:00(土日祝日除く)</span>
        </p>
      </div>
    </div>
  </section>
  <!-- /contact -->
